<html>
<head>
  <link rel="stylesheet" href="/version-six-css/foundation.min.css" media="screen" title="no title" charset="utf-8">
  <!-- <link rel="stylesheet" href="/version-five-css/foundation.min.css" media="screen" title="no title" charset="utf-8"> -->
  <link rel="stylesheet" href="/version-five-css/style.css" media="screen" title="no title" charset="utf-8">
  <title>Foundation is da bomb.</title>
</head>

<body>

  <div class="grid-x">
    <div class="cell">
      <%= yield %>
    </div>
  </div>

</body>
</html>
